$sub-color: rgb(49, 46, 46);
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 0.9rem;
  font-weight: 600;
  color: $sub-color;
}

.group {
  position: relative;
  margin-bottom: 30px;

  .form-input {
    background: none;
    background-color: white;
    color: $main-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin-top: 25px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 1.1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 200ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
  
  .alert{
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0px;
    font-weight: bold;
  }
}

form{
  width: 380px;
}